.menuBar{
    display:flex;
}

#topBar{
    background-color:aqua;
    padding:5px;
    margin:5px;
    justify-content:space-evenly;
}

#topBar button{
    font-size:1.2em;
    background-color:navy;
    color:white;
    border:2px solid white;
    border-radius:10%;
}

#topBar button:hover{
    font-size:1.2em;
    background-color:white;
    color:navy;
    border:2px solid navy;
    border-radius:10%;
}

#gameBar {
    background-color:lightblue;
    font-size:1.2em;
    justify-content:space-between;
}

#gameBar p {
    margin-left:5px;
    margin-right:5px;
}


#gameBody{
    height:60%;
    display:flex;
    justify-content:space-evenly;
    margin:25px;
}

#card{
    text-align:center;
    background-color:azure;
    border:5px solid black;
    width:30%;
}

.gameButton{
    width:35%;
    font-size:5em;
    color:white;
    border:3px solid black;
}

#discard{
    background-color:red;
}

#discard:hover{
    background-color:darkred;
}

#take{
    background-color:green;
    
}

#take:hover{
    background-color:darkgreen;
}

#timer{
    height:100px;
}

.scoreVal{
    font-size:1.5em;
}

#recapHeader{

    text-align:center;
    color:black;
}

#resultsScreenCardDeck{
    display:flex;
    justify-content:left;
    flex-wrap:wrap;
}

.resultsScreenCard{
    text-align:center;
    border:1px solid;
    margin:2px;
}

.resultsScreenCard h4 , .resultsScreenCard p{
    margin:1px;
}

.wonCard{
    color:darkgreen;
    background:2px solid darkgreen;
    background-color:lightgreen;
}

.lostCard{
    color:darkred;
    border:2px solid darkred;
    background-color:lightcoral;
}

.wonCard:hover{
    color:lightgreen;
    background:2px solid lightgreen;
    background-color:darkgreen;
}

.lostCard:hover{
    color:lightcoral;
    border:2px solid lightcoral;
    background-color:darkred;
}